<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<create-azurewebsite>
		<publishsettings>C:\Users\wthatar\Downloads\Converted Windows Azure MSDN - Visual Studio Professional-2-14-2014-credentials.publishsettings</publishsettings>
		<name>iamengine</name>
		<location>East Asia</location>
		<git></git>
	</create-azurewebsite>
</configuration>